<%- include('partials/header') %>
    <!-- nav bar -->
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">Post scheduler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="posts">Scheduled posts</a>
        </li>
    </ul>

    <!-- form -->
    <div class="container col-md-4 col-md-offset-4 main-container">
        <h1 style="text-align: center;">Instagram post scheduler</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group">
                    <label for="image">Select an image</label>
                    <br>
                    <input type="file" class="form-control-file" id="image" name="image" required>
                </div>
                <div class="form-group">
                    <label for="caption">Caption</label>
                    <textarea class="form-control" id="caption" rows="3" name="caption"></textarea>
                </div>
                <div class="form-group">
                    <label for="firstComment">First Comment</label>
                    <textarea class="form-control" id="firstComment" rows="3" name="firstComment"></textarea>
                </div>
                <div class="form-group">
                    <label for="postDate">Post date</label>
                    <input type="datetime-local" name="postDate" class="form-control" id="postDate" required>
                </div>
                <div class="form-group text-center submit-button">
                    <button type="submit" class="btn btn-primary">Schedule</button>
                </div>
            </div>
        </form>
    </div>
    <%- include('partials/footer') %>