  .navbar .navbar-collapse {
    text-align: center;
  }

  .row-container {
    background-color: #F8F9FA;
    margin-top: 30px;
  }

  .main-container {
    padding-top: 50px;
  }

  .submit-button {
    padding-top: 20px;
  }

  .empty-paragraph {
    text-align: center;
    margin-top: 30px;
  }

  .login-container {
    margin-top: 80px;
  }

  .login-input {
    text-align: center;
    margin-top: 20px;
  }

  .login-button {
    width: 200px;
  }